{
    "manifest_version": 3,
    "name": "{{{name}}}",
    "version": "0.1",
    "description": "Save notes to rKyv",
    "action": {
      "default_popup": "popup.html",
      "default_icon": {
        "16": "icon16.png",
        "48": "icon48.png",
        "128": "icon128.png"
      },
      "permissions": [
        "{{{base_url}}}/#/iframe",
        "https://fonts.googleapis.com/css2"
      ]
    },
    "permissions": [
      "activeTab"
    ],
    "content_security_policy": {
        "extension_pages": "script-src 'self'; object-src 'self'; default-src 'self'; connect-src {{{base_url}}}; frame-src {{{base_url}}}"
      },
    "content_scripts": [
      {
        "matches": ["<all_urls>"],
        "js": ["content.js"]
      }
    ],
    "icons": {
      "16": "icon16.png",
      "48": "icon48.png",
      "128": "icon128.png"
    },
    "host_permissions": [
      "{{{base_url}}}/#/iframe"
    ]
  }
  