<link href="popup.css" rel="stylesheet" type="text/css" />
<script type="module" src="popup.js" defer></script>
{{#is_debug}}
<p>Debug mode</p>
{{/is_debug}}
<iframe id="iframe" class="w-full" src="{{{base_url}}}/#/iframe?" />
