<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516790082055-373d6k5uj6e7q17brivhbrm043uujbgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516790082055-373d6k5uj6e7q17brivhbrm043uujbgu</string>
	<key>API_KEY</key>
	<string>AIzaSyB7EAMJdvnNAudlPiKbzyi892eQXR-TQT4</string>
	<key>GCM_SENDER_ID</key>
	<string>516790082055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keepApp</string>
	<key>PROJECT_ID</key>
	<string>notes-a522f</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-a522f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516790082055:ios:e87c8fe9ede7b0bccae8a2</string>
</dict>
</plist>